<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="WebAPIURL" value="http://localhost:52354/" />
  <add key ="LockOutMinutes" value="30"/>
  <add key ="ReportPageSize" value="10"/>
  <add key ="ServiceLineCodesPageSize" value="500"/>
  <add key="LogFilePath" value="C:\SSI Publish\WindowsLog\"/>
  <add key="Path" value="C:\ExceptionLock.txt"/>
  <add key="NumberOfDaysToDismissAlerts" value="1"/>
  <add key="NumberOfDaysToDimissCompletedJobs" value="30"/>
  <add key="IsUserNameInTitleCase" value="false"/>
  <add key="MaxClaimFieldSelectionCount" value="500"/>
  <add key="AutoRefresh" value="20000"/>
  <add key ="ReportsFilePath" value="C:\donotdelete"/>
  <add key="CommandTimeoutForClaimsSelection" value="7200"/>
  <add key="CommandTimeoutForContractHierarchy" value="3000"/>
  <add key="CommandTimeoutForCheckAdjudicationRequestNameExist" value="2000" />
  <add key="CommandTimeoutForCommandTimeoutForGetAdjudicationRequestNames" value="2000" />
  <add key="CommandTimeout" value="2000" />
  <add key="MaxRecordLimitForExcelReport" value="100000"/>
  <add key="MaxRecordLimitForTelericReport" value="2000"/>
  <add key="MaxRecordLimitForSavingClaimAdjudicationReport" value="80000"/>
  <add key="MessageForLargeClaimFieldRangeSelection" value="Too many Selection criteria for Claim Fields. Please correct it and try again."/>
  <add key="ApplicationHomePath" value="/"/>
  <add key="MaxPagesForTelerikReport" value="1500"/>
  <add key="MaxNumberOfLinesInPdfPage" value="24"/>
  <add key="HttpClientTimeOut" value="1000000"/>
  <add key="EventSource" value="CMS"/>
  <add key="AlertPerPage" value="50"/>
  <add key="UserManualFilePath" value="~/Content/ARchitectUG.pdf"/>
  <add key="OpenClaimRecord" value="100000"/>
  <add key="IsAutoRefreshEnabled" value="true"/>
  <add key="DefaultThresholdDaysToExpireAlters" value="60"/>
  <add key="AppDataVirtualPath" value="~/App_Data/"/>
  <add key="IsRequestLogEnabled" value="false"/>
  <add key="ClaimFieldValuesPerCall" value="5000"/>
  <add key="LetterTemplateImagePath" value="\\rajz\do_no_delete\cm_documents"/>
  <add key="LetterTemplateMaxImageSize" value="256"/>
  <add key="MaxNoOfDataForLetters" value="300"/>
  <add key="IdleTimeout" value="1200000"/>
  <add key="PaymentTableFileSize" value="10485760"/>
  <add key="ContractDocumentFileSize" value="10485760"/>
  <add key="ContractDocumentsPath" value="//ASIFA01/Users/asifa/Documents/DevAttachement"/>
  <add key="ClaimFieldValuesCustomLength" value="7000"/>
  <add key="ClaimFieldValuesCustomMaxRecords" value="400"/>
  <add key="SmtpServer" value="Mail3-gtwy.ssidmz.corp" />
  <add key="SmtpPort" value="25" />
  <add key="SmtpPassword" value="!Cmsupp0rt!" />
  <add key="MailFrom" value="cmsupport@ssigroup.com" />
  <add key="passwordBytes" value="MAKV2SPBNI99212"></add>
  <add key="ReassignPerPage" value="10"/>
    
</appSettings>

