<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <connectionStrings configSource="ConfigInfo\DEV\ConnectionStrings.config" />
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>

      <!--Adjudication Engine-->
      <register  type="SSI.ContractManagement.Shared.BusinessLogic.IAdjudicationEngine, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.AdjudicationEngine, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >

      <!--ClaimSelectorLogic-->
      <register type="SSI.ContractManagement.Shared.BusinessLogic.IClaimSelectorLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.ClaimSelectorLogic, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >

      <!--Payment Result Logic-->
      <register type="SSI.ContractManagement.Shared.BusinessLogic.IPaymentResultLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.PaymentResultLogic, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >

      <!--EvaluateableClaim Logic-->
      <register type="SSI.ContractManagement.Shared.BusinessLogic.IEvaluateableClaimLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.EvaluateableClaimLogic, SSI.ContractManagement.BusinessLogic" />

      <!--Contract Logic-->
      <register type="SSI.ContractManagement.Shared.BusinessLogic.IContractLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.ContractLogic, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >

      <!--ContractLog Logic-->
      <register type="SSI.ContractManagement.Shared.BusinessLogic.IContractLogLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.ContractLogLogic, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >

      <!--Service type Logic-->
      <register type="SSI.ContractManagement.Shared.BusinessLogic.IContractServiceTypeLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.ContractServiceTypeLogic, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >

      <!--Condition Logic-->
      <register type="SSI.ContractManagement.Shared.BusinessLogic.IConditionLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.ConditionLogic, SSI.ContractManagement.BusinessLogic" />

      <!--Condition validator -->
      <register name="AlphaNumeric" type="SSI.ContractManagement.Shared.Helpers.ConditionValidator.IConditionValidator, SSI.ContractManagement.Shared.Helpers" mapTo="SSI.ContractManagement.Shared.Helpers.ConditionValidator.AlphaNumericConditionValidator, SSI.ContractManagement.Shared.Helpers" />
      <register name="Numeric" type="SSI.ContractManagement.Shared.Helpers.ConditionValidator.IConditionValidator, SSI.ContractManagement.Shared.Helpers" mapTo="SSI.ContractManagement.Shared.Helpers.ConditionValidator.NumericConditionValidator, SSI.ContractManagement.Shared.Helpers" />
      <register name="Date" type="SSI.ContractManagement.Shared.Helpers.ConditionValidator.IConditionValidator, SSI.ContractManagement.Shared.Helpers" mapTo="SSI.ContractManagement.Shared.Helpers.ConditionValidator.DateConditionValidator, SSI.ContractManagement.Shared.Helpers" />

  
      <!--jobstatus Logic-->
      <register type="SSI.ContractManagement.Shared.BusinessLogic.IJobStatusLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.JobStatusLogic, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >

      <!--Payment Type -->
      <register name="FeeSchedule" type="SSI.ContractManagement.Shared.BusinessLogic.IPaymentTypeLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.PaymentTypeFeeScheduleLogic, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >
      <register name="AscFeeSchedule" type="SSI.ContractManagement.Shared.BusinessLogic.IPaymentTypeLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.PaymentTypeAscFeeScheduleLogic, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >
      <register name="PerDiem" type="SSI.ContractManagement.Shared.BusinessLogic.IPaymentTypeLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.PaymentTypePerDiemLogic, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >
      <register name="DrgPayment" type="SSI.ContractManagement.Shared.BusinessLogic.IPaymentTypeLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.PaymentTypeDrgLogic, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >
      <register name="PerCase" type="SSI.ContractManagement.Shared.BusinessLogic.IPaymentTypeLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.PaymentTypePerCaseLogic, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >
      <register name="StopLoss" type="SSI.ContractManagement.Shared.BusinessLogic.IPaymentTypeLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.PaymentTypeStopLossLogic, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >
      <register name="PerVisit" type="SSI.ContractManagement.Shared.BusinessLogic.IPaymentTypeLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.PaymentTypePerVisitLogic, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >
      <register name="PercentageDiscountPayment" type="SSI.ContractManagement.Shared.BusinessLogic.IPaymentTypeLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.PaymentTypePercentageChargeLogic, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >
      <register name="MedicareLabFeeSchedule" type="SSI.ContractManagement.Shared.BusinessLogic.IPaymentTypeLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.PaymentTypeMedicareLabFeeScheduleLogic, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >
      <register name="Cap" type="SSI.ContractManagement.Shared.BusinessLogic.IPaymentTypeLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.PaymentTypeCapLogic, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >
      <register name="LesserOf" type="SSI.ContractManagement.Shared.BusinessLogic.IPaymentTypeLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.PaymentTypeLesserOfLogic, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >
      <register name="MedicareIp" type="SSI.ContractManagement.Shared.BusinessLogic.IPaymentTypeLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.PaymentTypeMedicareIpLogic, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >
      <register name="MedicareOp" type="SSI.ContractManagement.Shared.BusinessLogic.IPaymentTypeLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.PaymentTypeMedicareOpLogic, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >
      <register name="CustomTableFormulas" type="SSI.ContractManagement.Shared.BusinessLogic.IPaymentTypeLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.PaymentTypeCustomTableLogic, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >
      <register name="MedicareSequester" type="SSI.ContractManagement.Shared.BusinessLogic.IPaymentTypeLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.PaymentTypeMedicareSequesterLogic, SSI.ContractManagement.BusinessLogic" >
        <constructor>
          <param name="connectionString" value="connectionString" />
        </constructor>
      </register >
      <register type="SSI.ContractManagement.Shared.BusinessLogic.ICRecordLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.CRecordLogic, SSI.ContractManagement.BusinessLogic" />
      <register type="SSI.ContractManagement.Shared.BusinessLogic.IDRecordLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.DRecordLogic, SSI.ContractManagement.BusinessLogic" />
      <register type="SSI.ContractManagement.Shared.BusinessLogic.IERecordLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.ERecordLogic, SSI.ContractManagement.BusinessLogic" />
      <register type="SSI.ContractManagement.Shared.BusinessLogic.ILRecordLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.LRecordLogic, SSI.ContractManagement.BusinessLogic" />
      <register type="SSI.ContractManagement.Shared.BusinessLogic.IFacilityLogic, SSI.ContractManagement.Shared.BusinessLogic" mapTo="SSI.ContractManagement.BusinessLogic.FacilityLogic, SSI.ContractManagement.BusinessLogic" />

      <!--Repository Types-->
      <register type="SSI.ContractManagement.Shared.Data.Repository.IAdjudicationReportRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ClaimAdjudicationReportRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IClaimFieldDocRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ClaimFieldDocRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IClaimFieldValueRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ClaimFieldValueRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IContractAlertRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ContractAlertRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IContractDocumentRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ContractDocumentRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IContractFilterRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ContractFilterRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IContractHierarchyRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ContractHierarchyRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IContractLogRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ContractLogRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IContractNoteRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ContractNoteRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IContractPayerInfoRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ContractPayerInfoRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IContractRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ContractRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IContractServiceLinePaymentTypeRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ContractServiceLinePaymentTypeRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IContractServiceTypeRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ContractServiceTypeRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IEvaluateableClaimRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.EvaluateableClaimRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IJobStatusRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.JobStatusRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IModelingReportRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ModelingReportRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IPaymentResultRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.PaymentResultRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IPaymentTypeAscFeeScheduleRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.PaymentTypeAscFeeScheduleRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IPaymentTypeCapRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.PaymentTypeCapRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IPaymentTypeDrgPaymentRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.PaymentTypeDrgRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IPaymentTypeFeeScheduleRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.PaymentTypeFeeScheduleRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IPaymentTypeLesserOfRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.PaymentTypeLesserOfRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IPaymentTypeMedicareIpRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.PaymentTypeMedicareIpRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IPaymentTypeMedicareOpRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.PaymentTypeMedicareOPRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IPaymentTypeMedicareLabFeeScheduleRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.PaymentTypeMedicareLabFeeScheduleRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IPaymentTypePerCaseRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.PaymentTypePerCaseRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IPaymentTypePercentageChargeRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.PaymentTypePercentageChargeRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IPaymentTypePerDiemRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.PaymentTypePerDiemRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IPaymentTypePerVisitRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.PaymentTypePerVisitRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IPaymentTypeStopLossRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.PaymentTypeStopLossRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IClaimSelectorRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ClaimSelectorRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.ISelectContractModelRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.SelectContractModelRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IServiceLineClaimFieldRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ServiceLineClaimFieldRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IServiceLineCodeRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ServiceLineCodeRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IServiceLineTableSelectionRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ServiceLineTableSelectionRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IVarianceReportRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.VarianceReportRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IReportSelectionRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ReportSelectionRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IPaymentTableRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.PaymentTableRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.ILetterTemplateRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.LetterTemplateRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IAppealLetterRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.AppealLetterRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IMedicareLabFeeScheduleRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.MedicareLabFeeScheduleRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IContractPayerMapReportRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ContractPayerMapReportRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IRtaEdiRequestRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.RtaEdiRequestRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IRtaEdiResponseRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.RtaEdiResponseRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IClaimFieldRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ClaimFieldRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IPaymentTypeCustomTableRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.PaymentTypeCustomTableRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IRtaRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.RtaRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IModelComparisonReportRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ModelComparisonReportRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IPayerRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.PayerRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IMedicareIpAcuteOptionRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.MedicareIpAcuteOptionRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.ILogOffRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.LogOffRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IAuditLogReportRepository, SSI.ContractManagement.Shared.Data.Repository, Version=1.0.0.0, Culture=neutral" mapTo="SSI.ContractManagement.Data.Repository.AuditLogReportRepository, SSI.ContractManagement.Data.Repository, Version=1.0.0.0, Culture=neutral" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IReassignClaimRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.ReassignClaimRepository, SSI.ContractManagement.Data.Repository" />


      <register  type="SSI.ContractManagement.Shared.Data.Repository.ILetterTemplateRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.LetterTemplateRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IFacilityRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.FacilityRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IUserRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.UserRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IAccountActivationRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.AccountActivationRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.ILogOnRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.LogOnRepository, SSI.ContractManagement.Data.Repository" />
      <register type="SSI.ContractManagement.Shared.Data.Repository.IPaymentTypeMedicareSequesterRepository, SSI.ContractManagement.Shared.Data.Repository" mapTo="SSI.ContractManagement.Data.Repository.PaymentTypeMedicareSequesterRepository, SSI.ContractManagement.Data.Repository" />


    </container>
  </unity>
  <appSettings configSource="ConfigInfo\DEV\AppSettings.config" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration.Install" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.414.0" newVersion="2.1.505.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
