@{
    Layout = null;
}
<div id="container-queryName">
    <form class="validation-queryname">
        <div>
            <label>Query Name<span class="cms-requiredfields">*</span>:</label>
            <input id="txt-query-name" name="txtQueryName" class="k-textbox" maxlength="200" autocomplete="off" />
        </div>
    </form>
</div>
<div class="btn-query-savecancel">
    <input type="button" id="btn-query-name-save" value="Save" class="k-button query-name" onclick="saveQueryName();" />
    <input type="button" id="btn-query-name-cancel" value="Cancel" class="k-button" onclick="cancelQueryName();" />
</div>

<script src="~/Content/js/QueryName.js"></script>




