@{  
      Layout = null;  
 } 
<!-- For contract alert div-->
<div id="alerts-container" style="position: relative;" class="k-content">
    <div id="container-tabstrip">
        <div id="cms-tabstrip-alerts">
            <ul>
                <li class="k-state-active alert-click"><span>Contract Alerts </span>
                @*    <label id="list-alert-count"></label>*@
                </li>
            </ul>
            <!--For Contract alerts information-->
            <div>
                @Html.Partial("~/Areas/Alert/Views/ContractAlert/ContractAlert.cshtml")
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        if ($("#menu-list-home").is(".k-state-active")) {
            $("#menu-list-home").removeClass("k-state-active");
        };
        $("#menu-list-alerts").addClass("k-state-active");
        $("#cms-tabstrip-alerts").kendoTabStrip();
        $("#tool-container").css('background-image', 'none');
    });
</script>
