<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="NoOfRecordsForAdjudicate" value="250"/>
  <add key="AdjudicationUsingWindowsService" value="true"/>
  <add key="IsVarianceCalculate" value="true" />
  <add key="IsMicrodynEnabled" value="false"/>
  <add key="IsMicrodynLogEnabled" value="true"/>
  <add key="InsertContractLogs" value="false"/>
  <add key="IsDMEntry" value="false"/>
  <add key="BackgroundUserNameForScheduleJob" value="Service User {4B9A858F-D69B-4DBA-B2DE-A2F513B236EF}"/>
  <add key="Interval" value="4"/>
  <add key="PullDataForNumberOfYears" value="3"/>
  <add key="EventSource" value="CMS"/>
  <add key="BatchSizeForBackgroundAdjudication" value="200"/>
  <add key="SleepIntervalForBackgroundJob" value="3600000"/>
  <add key="SleepIntervalForWhenManuallJobIsRunning" value="120000"/>
  <add key="TimeOutBackgroundAdjudication" value="5400"/>
  <add key="IsEventLoggingEnabled" value="false"/>
  <add key="IsLogEvent" value="false"/>
  <add key="IsLogDuringMaintenance" value="false"/>
  <add key="MaintenanceHour" value="0"/>
  <add key="DbName" value="Bubble 1"/>
  <add key="ThreadCount" value="4"/>
  <add key="ThreadCountForBackground" value="5"/>
</appSettings>

