<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="CMMembershipConnectionString" connectionString="Data Source=69.85.245.160;Initial Catalog=CMMembership;Persist Security Info=True;User ID=sa;Password=Cmsqldevu$3r"
providerName="System.Data.SqlClient" />
</connectionStrings>