@{  
      Layout = null;
 }
<div id="code-direct">
    
    <div id="pd-main">

        <div class="body-container">
            <div class="glossary-container">
                <ul id="list-reports">
                    <li id="a" class="selected"> <label> A </label></li>
                  
                    <li id="c"> <label> C </label></li>
                 
                    <li id="h"> <label> H </label></li>
                    <li id="i"> <label> I </label></li>
              
                    <li id="m"> <label> M </label></li>
                
                    <li id="p"> <label> P </label></li>
               
                    <li id="r"> <label> R </label></li>
                
                    <li id="t"> <label> T </label></li>
                    <li id="u"> <label> U </label></li>
             
                </ul>
            </div>
            <div class="content-container">
                <!-- A -->
                <div id="content-for-a">
                     <h2>
                       APR-DRG </h2>
                        <p>
                            All Patient Refined DRG. Created by 3M. There are 315 base APR-DRG codes(Version 27.0). The 3M™ APR DRG Classification System (APR DRG) is a refinement of the AP-DRG grouper. (AP is All Patient; APR is All Patient Refined.) Like the AP-DRG grouper, it classifies inpatients into clinically similar groups based on ICD-9-CM and ICD-10-CM/PCS diagnosis and procedure codes and applies across the full spectrum of acute care patients. However, the APR DRG grouper includes many significant additions and modifications that extend its use beyond resource evaluation and payment. One critical enhancement is that APR DRGs divide each DRG into four subclasses for severity of illness (SOI) and four additional subclasses based on risk of mortality (ROM). Patients in each subclass of a particular APR DRG experience similar resource utilization and outcomes. This allows hospitals to use the group assignments for "apples-to-apples" comparisons of factors like length of stay (LOS), cost effectiveness, patient outcomes, individual physician performance, and variances from the norm. The APR DRG classification system serves as the basis of state-specific payment systems and hospital performance evaluations for many states.
                        </p>

                        <h3> Source </h3>

                        <p>
                            3MHIS
                        </p>

                        <p class="return-to-top">
                       <span class="clicktoup"> Return to Top </span></p>

                         <h2>
                       AP-DRG </h2>
                        <p>
                            All Patient DRG. All Patient Diagnosis Related Groups (AP-DRGs) are a modification of the original CMS Diagnosis Related Groups (DRGs). Like CMS DRGs, they are a set of inpatient classifications based on ICD-9-CM diagnosis and procedure codes, which relate a hospital’s case mix to resource demands and associated costs. However, AP-DRGs address the full spectrum of acute care patients rather than being limited to Medicare patients. To address the full range of patients, AP-DRGs include significantly modified classifications such as those for newborns, high risk pregnancies, transplants, HIV patients, tuberculosis patients, and substance abuse. In addition, AP-DRGs do not always use principal diagnosis as the initial variable in group assignment, and they incorporate a modified use of complications and comorbidities. AP-DRGs serve as the basis for state Medicaid payment systems in many all-payer states, such as New Jersey, Indiana, Massachusetts, and Washington state. 3M stopped development of AP-DRGs in January 2010, at v27.0, to focus on continued refinement of the APR DRG classification system.
                        </p>

                        <h3> Source </h3>

                        <p>
                            3MHIS
                        </p>

                        <p class="return-to-top">
                       <span class="clicktoup"> Return to Top </span></p>


                </div>

                  <!-- C -->
                <div id="content-for-c">

                    <h2>
                       CMS 1500 </h2>
                       <h3>AKA: 1500</h3>
                        <p>
                            Physician Billing form. Physician claims and Clinic claims is primarily billed via the CMS-1500, either on the form itself or electronically. It's electronic counterpart is the 837p.
                        </p>

                        <h3> Source </h3>

                        <p>
                            CMS
                        </p>

                        <p class="return-to-top">
                       <span class="clicktoup"> Return to Top </span></p>

                </div>

                 <!-- H -->
                <div id="content-for-h">

                    <h2>
                       HIPPS </h2>
                       <h3>AKA: RUG</h3>
                        <p>
                            The HIPPS rate code consists of the three-character resource utilization group (RUG) code that is obtained from the “Grouper” software program followed by a 2-digit assessment indicator (AI) that specifies the type of assessment associated with the RUG code obtained from the Grouper. SNFs must use the version of the Grouper software program identified by CMS for national PPS as described in the Federal Register for that year. The Grouper translates the data in the Long Term Care Resident Instrument into a casemix group and assigns the correct RUG code. The AIs were developed by CMS. The Grouper will not automatically assign the 2-digit AI, except in the case of a swing bed MDS that is will result in a special payment situation AI (see below). The HIPPS rate codes that appear on the claim must match the assessment that has been transmitted and accepted by the State in which the facility operates. The SNF cannot put a HIPPS rate code on the claim that does not match the assessment. HIPPS Rate Codes used for Medicare claims are availabel from Medicare contractors.
                        </p>

                        <h3> Source </h3>

                        <p>
                            CMS
                        </p>

                        <p class="return-to-top">
                       <span class="clicktoup"> Return to Top </span></p>

                        <h2>
                       HCPCS </h2>
                       <h3>AKA: CPT</h3>
                        <p>
                            Various CPT (Level I HCPCS) and Level II HCPCS codes may require the use of modifiers to improve the accuracy of coding. Consequently, reimbursement, coding consistency, editing and proper payment will benefit from the reporting of modifiers. Hospitals should not report a separate HCPCS (five-digit code) instead of the modifier. These codes will populate the UB-04 and the 1500 along with any modifiers that may exist. These codes will never exist for an Inpatient claim, only non-Inpatient and 1500 claims. Level 1 codes are approved by AMA and are referred to as CPT-4 codes. These are all five digit codes. Level 2 codes are CMS developed codes and are referred to as HCPCS. These are five characters in length, but the first character is either A through V, followed by four digits. Level 3 codes begin with a letter of W through Z and are followed by four digits as well. These codes are not common. 
                        </p>

                        <h3> Source </h3>

                        <p>
                           CMS & HFMA
                        </p>

                        <p class="return-to-top">
                       <span class="clicktoup"> Return to Top </span></p>

                </div>

                 <!-- I -->
                <div id="content-for-i">
                 
                     <h2>
                       ICD-9 Procedure </h2>
                       <h3>AKA: ICD9P</h3>
                        <p>
                            The Centers for Medicare and Medicaid Services (CMS) and the National Center for Health Statistics (NCHS), two departments within the U.S. Federal Government’s Department of Health and Human Services (DHHS) provide the following guidelines for coding and reporting using the International Classification of Diseases, 9th Revision, Clinical Modification (ICD-9-CM). These guidelines should be used as a companion document to the official version of the ICD-9-CM as published on CD-ROM by the U.S. Government Printing Office (GPO). These guidelines have been approved by the four organizations that make up the Cooperating Parties for the ICD-9-CM: the American Hospital Association (AHA), the American Health Information Management Association (AHIMA), CMS, and NCHS. These guidelines are included on the official government version of the ICD-9-CM, and also appear in  “Coding Clinic for ICD-9-CM” published by the AHA. ICD-9 Procedure codes are 3-4 characters in length. There are approximately 3,000 ICD-9 Procedure codes. On the UB-04, these are listed on FL 74, and on the CMS 1500, these are supplemented by CPT/HCPCS codes on FL 24D.
                       </p>

                        <h3> Source </h3>

                        <p>
                            CDC & AMA
                        </p>

                        <p class="return-to-top">
                       <span class="clicktoup"> Return to Top </span></p>
                                         
                     <h2>
                       ICD-9 Diagnosis </h2>
                       <h3>AKA: ICD9D</h3>
                        <p>
                            The Centers for Medicare and Medicaid Services (CMS) and the National Center for Health Statistics (NCHS), two departments within the U.S. Federal Government’s Department of Health and Human Services (DHHS) provide the following guidelines for coding and reporting using the International Classification of Diseases, 9th Revision, Clinical Modification (ICD-9-CM). These guidelines should be used as a companion document to the official version of the ICD-9-CM as published on CD-ROM by the U.S. Government Printing Office (GPO). These guidelines have been approved by the four organizations that make up the Cooperating Parties for the ICD-9-CM: the American Hospital Association (AHA), the American Health Information Management Association (AHIMA), CMS, and NCHS. These guidelines are included on the official government version of the ICD-9-CM, and also appear in  “Coding Clinic for ICD-9-CM” published by the AHA. ICD-9 Diagnosis codes are 3-5 characters in length. There are approximately 13,000 ICD-9 Diagnosis codes, and the first digit may be alpha(E or V) or numeric. Characters 2-5 are numeric. On the UB-04, these are listed on FL 66-67 and 69-70. On the CMS 1500, these are listed on FL 21 with a Designated indicator on FL 24E.
                        </p>

                        <h3> Source </h3>

                        <p>
                            CDC & AMA
                        </p>

                        <p class="return-to-top">
                       <span class="clicktoup"> Return to Top </span></p>

                    
                </div>

                <!-- M -->
                <div id="content-for-m">
                   
                    <h2>
                       MS-DRG </h2>
                       <h3>AKA: DRG</h3>
                        <p>
                            The Medicare Severity - Diagnosis Related Groups (MS-DRGs) provide up to three levels of severity for a particular condition. A "Base" MS-DRG combines all levels of severity into a single category. The MS-DRG numbers listed are the individual MS-DRGs that have been combined into a Base MS-DRG for reporting. Used strictly for Hospital Inpatient cases. This is a 3 digit code, all numeric. The Medicare Severity DRG (MS-DRG) grouper is an updated version of the original CMS Diagnosis Related Groups (DRGs). Like CMS DRGs, MS-DRGs are a set of inpatient classifications that relate a hospital’s case mix to resource demands and associated costs. With the original grouper, one DRG was assigned to a patient record based on ICD-9-CM codes identifying principal diagnosis, secondary diagnoses, and surgical procedures. Other relevant factors included age, sex, and discharge status. In 2007, when the name of the v25.0 grouper was changed to MS-DRGs, the logic had evolved to also account for complications and comorbidities (CCs) and hospital-acquired conditions (HACs). This grouper is used specifically for Medicare patients. It is updated annually, generally on October 1, and the discharge date of the patient record determines which version of the grouper should be used.
                        </p>

                        <h3> Source </h3>

                        <p>
                            3MHIS
                        </p>

                        <p class="return-to-top">
                       <span class="clicktoup"> Return to Top </span></p>

                         <h2>
                      Modifiers </h2>
                     
                        <p>
                            The UB-04 accommodates up to four modifiers, two characters each. See AMA publication CPT 20xx (xx= to current year) Current Procedural Terminology Appendix A - HCPCS Modifiers Section: “Modifiers Approved for Ambulatory Surgery Center (ASC) Hospital Outpatient Use”. The UB-04 can accomadate up to two modifiers per HCPCS/CPT per charge line. The CMS 1500 can accomodate up to four modifiers per HCPCS/CPT per charge line.
                        </p>

                       

                        <p class="return-to-top">
                       <span class="clicktoup"> Return to Top </span></p>

                </div>
               

                 <!-- P -->
                <div id="content-for-p">
                
                     <h2>
                       Place of Service Code </h2>
                       <h3>AKA: POS</h3>
                        <p>
                            Place of Service Codes are two-digit codes placed on health care professional claims to indicate the setting in which a service was provided. The Centers for Medicare & Medicaid Services (CMS) maintain POS codes used throughout the health care industry. This code set is required for use in the implementation guide adopted as the national standard for electronic transmission of professional health care claims under the provisions of the Health Insurance Portability and Accountability Act of 1996 (HIPAA). HIPAA directed the Secretary of HHS to adopt national standards for electronic transactions. These standard transactions require all health plans and providers to use standard code sets to populate data elements in each transaction. The Transaction and Code Set Rule adopted the ASC X12N-837 Health Care Claim: Professional, volumes 1 and 2, version 4010, as the standard for electronic submission of professional claims. This standard names the POS code set currently maintained by CMS as the code set to be used for describing sites of service in such claims. POS information is often needed to determine the acceptability of direct billing of Medicare, Medicaid and private insurance services provided by a given provider.
                        </p>

                        <h3> Source </h3>

                        <p>
                            CMS
                        </p>

                        <p class="return-to-top">
                       <span class="clicktoup"> Return to Top </span></p>

                        </div>

                <!-- R -->
                <div id="content-for-r">
                     <h2>
                       Revenue Code </h2>
                        <p>
                            The provider enters the appropriate revenue codes from the following list to identify specific accommodation and/or ancillary charges. It must enter the appropriate numeric revenue code on the adjacent line in FL 42 to explain each charge in FL 47. Additionally, there is no fixed “Total” line in the charge area. The provider must enter revenue code 0001 instead in FL 42. Thus, the adjacent charges entry in FL 47 is the sum of charges billed. This is the same line on which non-covered charges, in FL 48, if any, are summed. To assist in bill review, the provider must list revenue codes in ascending numeric sequence and not repeat on the same bill to the extent possible. To limit the number of line items on each bill, it should sum revenue codes at the “zero” level to the extent possible. This code never populates a Physician Claim 1500. Code pulls to the UB-04 on FL42. The Revenue code is typically seen in contracts for all Inpatient & Outpatient Services.
                        </p>

                        <h3> Source </h3>

                        <p>
                            CMS
                        </p>

                        <p class="return-to-top">
                       <span class="clicktoup"> Return to Top </span></p>
                </div>

               <!-- T -->
                <div id="content-for-t">
                     <h2>
                       Type of Bill </h2>

                       <h3> AKA: Bill Type </h3>
                        <p>
                            This four-digit alphanumeric code gives three specific pieces of information after a leading zero. CMS will ignore the leading zero. CMS will continue to process three specific pieces of information. The second digit identifies the type of facility. The third classifies the type of care. The fourth indicates the sequence of this bill in this particular episode of care. It is referred to as a “frequency” code. This code never populates a Physician Claim 1500. Code pulls to the UB-04 on FL04.
                        </p>

                        <h3> Source </h3>

                        <p>
                            CMS
                        </p>

                        <p class="return-to-top">
                       <span class="clicktoup"> Return to Top </span></p>
                </div>

                  <!-- U -->
                <div id="content-for-u">

                     <h2>
                       UB-04 </h2>
                     
                        <p>
                            Hospital Billing form. Inpatient, Outpatient, etc., is billed via the UB-04 either on the form itself or electronically. It's electronic counterpart is the 837i.
                        </p>

                        <h3> Source </h3>

                        <p>
                            CMS
                        </p>

                        <p class="return-to-top">
                       <span class="clicktoup"> Return to Top </span></p>

                </div>
            </div>
        </div>
       

        
    </div>
</div>
  <script>
      $(document).ready(function () {
          if ($("#menu-list-home").is(".k-state-active")) {
              $("#menu-list-home").removeClass("k-state-active");
          };
          $("#list-code-dictionary").addClass("k-state-active");
          $(".content-container #content-for-a").css({ 'background-color': '#d2f2ff' });
          $(".content-container p.return-to-top").hide();
          //below code is for high-lighting the link and scroll to particular DOM Element as well
          $("#list-reports li").each(function () {
              $(this).click(function () { //On click of any Alphabet
                  $(".return-to-top").show();
                  $("#list-reports li").removeClass("selected"); //Initially remove "selected" class if any
                  if (this == a || this == c || this == h || this == i || this == m || this == p || this == r || this == t || this == u) {
                      $(this).addClass("selected"); //Add "selected" class for the clicked one
                      var elementClick = $(this).attr("id"); //get respective 'Id' for example 'a','b','c'.. etc.,
                      $(".content-container").scrollTo($("#content-for-" + elementClick), 900); //scrollTo particular DOM Element
                      $(".content-container div").css({ 'background-color': '#ffffff' }); //set the background color to default, that is white
                      $(".content-container #content-for-" + elementClick).css({ 'background-color': '#d2f2ff' }); //set the background color to light-blue to that div
                  };
              });
          });

          //When "Return to Top" is clicked highlight the first Alphabet that 'A' and scroll to top.
          $('.clicktoup').click(function () {
              $("#list-reports li").each(function () {
                  $("#list-reports li").removeClass("selected"); //Remove classname "selected"
              });
              $("#a").addClass("selected"); //Add a class named "selected" to the first Alphabet
              $(".content-container").scrollTo($("#content-for-a"), 800); //This is for scrolling to particular element that is "A" here...
              $(".content-container div").css({ 'background-color': '#ffffff' }); //set the background color to default, that is white
              $(".content-container #content-for-a").css({ 'background-color': '#d2f2ff' }); //set the background color to light-blue to that div
          });
      });




  </script>
                  
 
