
<script src="~/Content/js/PaymentTable.js"></script>
<div id="divMaintainPayment">

    <label>Table Type<span class="cms-requiredfields">*</span>:</label>
    <input id="ddlTableType" class="inputMaintainPayment" />
    <br />
    <label>Choose Table<span class="cms-requiredfields">*</span>:</label>
    <input id="ddlTable" class="inputMaintainPayment" placeholder="Select Table Name" />
    <input id="ddlMCareLabFeeScheduleTable" class="inputMaintainPayment" />
    <input id="btnDeleteTable" type="submit" value="Delete" class="k-button btnDeleteTable"/>
    <input id="btnRenameTable" type="submit" value="Rename" class="k-button btnRenameTable" />
    <div id="divTableContentContainer">
    </div>
    <div id="form-rename-paymenttable">
    </div>
</div>
