@{
    Layout = null;
}

<div id="rename-paymenttable-container">
    <label>Name<span class="cms-requiredfields">*</span>:</label>
    <input type="text" id="txt-rename-paymenttable" style="width: 207px" class="k-textbox" />
</div>

<div class="btn-saveclose">
    <input type="button" id="btn-rename-paymenttable" value="Save" class="k-button" />
</div>
<script src="~/Areas/PaymentTable/JavaScript/RenamePaymentTable.js"></script>


