<div>
              
    <div id="pd-main">
                   
        <div class="body-container">              
            <div class="glossary-container"> 
                <ul id="list-reports">
                  
                    <li id="d" class="selected"> <label> D </label></li>
                  
                    <li id="f"> <label> F </label></li>
                
                    <li id="l" > <label> L </label> </li>
                    <li id="m" > <label> M </label> </li>
                
                    <li id="p"> <label> P </label> </li>
                
                    <li id="s"> <label> S </label> </li>
              
                </ul>
                                
            </div>
            
            
            <div class="content-container">


                <!-- D -->
                <div id="content-for-d">

                    <h2> DRG Schedule-Basic </h2>

                     <p>
                        Most commercial payer contracts that pay on the DRG will use the Medicare Weights for that effective time period, but will establish their own Base Rate.
                     </p>

                     <h3> Example </h3>
                     <p>
                       Base Rate*Relative Weight=Payment
                     </p>

                     <p class="return-to-top">
                        <span class="clicktoup"> Return to Top </span>
                     </p>

                </div>

                <!-- F -->
                <div id="content-for-f">

                    <h2> Fee Schedule-Basic </h2>

                     <p>
                        This is used for Outpatient and Physician claims. The main two components of a basic fee schedule is the CPT code and the dollar rate associated with that code. If that code is present on a claim, then the reimbursement should be that dollar rate linked to that code on the fee schedule.
                     </p>

                     <h3> Example </h3>
                     <p>
                       CPT 36415 is $3.00 on the Fee Schedule. It is on the claim one time. Then the reimbursement for that particular code is $3.00. This is just for that line item reimbursement. The claim could get further reimbursement in addition to the $3.00.
                     </p>

                     <p class="return-to-top">
                        <span class="clicktoup"> Return to Top </span>
                     </p>

                     <h2> Fee Schedule-ASC </h2>

                     <h3> AKA: Grouper </h3>

                     <p>
                        This is a fee schedule where the HCPCS/CPT codes are assigned to a grouper (typically 0-20) and each of the grouper numbers will have a payment flat rate assigned to it. If that code is present on the claim, then it will receive a percentage of that flat rate. The percentage is based on a decreasing tier percentage method of which the most common method is 100% for primary, 50% for secondary, and 25% for tertiary and possibly subsequent. The determining factor to define what is primary, secondary, or tertiary is the order of highest payment amount listed in the fee schedule for that assigned grouper number for that code on the claim.
                     </p>

                     <h3> Example </h3>
                     <p>
                        Grouper Number->CPT/HCPCS->Present on claim->determine which codes have highest payment rate associated with their Grouper Number->apply any multi percentage method.
                     </p>

                     <p class="return-to-top">
                        <span class="clicktoup"> Return to Top </span>
                     </p>

                </div>

                <!-- L -->
                <div id="content-for-l">

                    <h2>
                        Lesser Of Clause </h2>
                        <p>
                            Usually applies to all services and is listed in the fine print of a contract. This rule simply states that the payer will pay either the lesser of the calculated reimbursement for that service or  100% of total charges, whichever amount is smaller.
                        </p>

                        <h3> Example </h3>

                        <p>
                            If the contract states for all Inpatient claims, it will pay on a Per Diem of $1500 per day, and the patient was in for 2 days, so the calculated reimbursement would be $1500*2 = $3000, but the claims total charges for that claim is only $2800, then the payer is only going to pay $2800.
                        </p>

                        <p class="return-to-top">
                        <span class="clicktoup"> Return to Top </span></p>
                </div>

                <!-- M -->
                <div id="content-for-m">
                  
                    <h2> Medicare IP </h2>
                     <h3> AKA: IPPS </h3>
                     <p>
                        Complex Reimbursement formula related to Inpatient.
                     </p>
                     <p class="return-to-top">
                        <span class="clicktoup"> Return to Top </span>
                     </p>

                     <h2> Medicare OP </h2>
                     <h3> AKA: OPPS/APC </h3>
                     <p>
                        Complex Reimbursement formula related to Outpatient.
                     </p>
                     <p class="return-to-top">
                        <span class="clicktoup"> Return to Top </span>
                     </p>

                     <h2> Max Reimbursement </h2>
                     <h3> Capitation </h3>
                     <p>
                        A ceiling payment that can apply to a certain code (or codes) on a claim or apply to the entire claim.
                     </p>
                     <h3> Example </h3>
                     <p>
                     Inpatient Implants Payment will not exceed $2500 payment per Revenue Code of 274.
                     </p>
                     <p class="return-to-top">
                        <span class="clicktoup"> Return to Top </span>
                     </p>

                </div>

                
                <!-- P -->
                <div id="content-for-p">

                  <h2>
                        Percent of Charges </h2>
                    
                    <h3> AKA: Percent Charge</h3>
                    <p>
                        This is a Reimbursement that will take a percentage of the Total Billed Charges on the Claim as a discount and the Payer will pay the difference. This is typically used for Outpatient Services, but sometimes for Inpatient  as well.
                    </p>

                     <h3> Example </h3>
                     <p>
                        If the charge is 80%, the reimbursement would be 80% of Total Billed Charges of the claim. If the Claim’s total billed charges were $1000.00, then the reimbursement would be $800.00.
                     </p>
                     <p class="return-to-top">
                        <span class="clicktoup"> Return to Top </span></p>
              
                     <h2> Per Diem </h2>

                     <p>
                        This reimbursement is typically a dollar amount and generally applies to Inpatient services. The payer usually determines a dollar rate to be applied to either the LOS on a Inpatient claim or to the actual room revenue quantity on the claim which  should match.
                     </p>

                     <h3> Example </h3>
                     <p>
                        If the Per Diem is $1000.00 on Day 1, $1100.00 on day 2, $1500.00 on day 3 and any subsequent days, and the patient was in for 4 days, then the reimbursement would be $1000 + $1100 + $1500 + $1500 = $5100.
                     </p>

                     <p class="return-to-top">
                        <span class="clicktoup"> Return to Top </span></p>

                    
                     <h2> Per Case </h2>

                     <p>
                        This is used for Inpatient and Outpatient services. Typically, this is just a Dollar amount and can apply to DRG, Revenue Code, or CPT/HCPCS Code. This is used quite often in Carve Outs.
                     </p>

                     <h3> Example </h3>
                     <p>
                       Revenue Code 274 has a Per Case of $1000.00 and the quantity on the claim for Revenue Code 274 is 3, than the reimbursement would be $1000*3=$3000.00. 
                     </p>

                     <p class="return-to-top">
                        
                        <span class="clicktoup"> Return to Top </span></p>

                     <h2> Per Visit </h2>

                     <p>
                        Similar to a Per Case, but this is typically not looking at the quantity of a code, but just the presence of the code, in addition to the any unique Date of Service for that code.
                     </p>

                     <h3> Example </h3>
                     <p>
                        ER=Per Visit $500 for revenue codes 450-459. If a 450 is present twice on the claim with the same DOS, the payment will only be $500.
                     </p>

                     <p class="return-to-top">
                        <span class="clicktoup"> Return to Top </span>
                     </p>

                </div>

                <!-- S -->
                <div id="content-for-s">

                    <h2>
                        Stop Loss-Basic </h2>
                        <p>
                            If listed in a contract, it is typically for either all services or just for Inpatient services. There are usually three components used in the calculation of a Stop Loss. There is a Threshold, a Percentage, and the Total Charges on the claim.
                        </p>

                        <h3> Example </h3>

                        <p>
                        If the Payer defines the threshold as $50,000, and the claim total charges exceeds this amount and is $51,000, then that claim has just met the criteria to reimburse based on the stop loss. The formula would be if the percentage is 80%, then $51,000*.80=$40,800. $40,800 would be the total reimbursement because typically, any other reimbursement that got calculated for this type of claim is usually overridden by the Stop Loss reimbursement. Essentially, Stop Loss is not consisted as a Carve Out reimbursement.
                        </p>

                        <p class="return-to-top">
                        <span class="clicktoup"> Return to Top </span></p>
                </div>
            
            </div>
                        
        </div>
    
        <script>
            $(document).ready(function () {
                if ($("#menu-list-home").is(".k-state-active")) {
                    $("#menu-list-home").removeClass("k-state-active");
                };
                $("#list-payment-dictionary").addClass("k-state-active");
                $(".content-container #content-for-d").css({ 'background-color': '#d2f2ff' });
                $(".content-container p.return-to-top").hide();
                //below code is for high-lighting the link and scroll to particular DOM Element as well
                $("#list-reports li").each(function () {
                    $(this).click(function () { //On click of any Alphabet
                        $(".content-container p.return-to-top").show();
                        $("#list-reports li").removeClass("selected"); //Initially remove "selected" class if any
                        if (this == d || this == f || this == l || this == m || this == p || this == s) {
                            $(this).addClass("selected"); //Add "selected" class for the clicked one
                            var elementClick = $(this).attr("id"); //get respective 'Id' for example 'a','b','c'.. etc.,
                            $(".content-container").scrollTo($("#content-for-" + elementClick), 900); //scrollTo particular DOM Element
                            $(".content-container div").css({ 'background-color': '#ffffff' }); //set the background color to default, that is white
                            $(".content-container #content-for-" + elementClick).css({ 'background-color': '#d2f2ff' }); //set the background color to light-blue to that div
                        };

                    });
                });

                //When Return to Top is clicked highlight the first Alphabet that 'A' and scroll to top.
                $('.clicktoup').click(function () {
                    $("#list-reports li").each(function () {
                        $("#list-reports li").removeClass("selected"); //Remove classname "selected"
                    });
                    $("#d").addClass("selected"); //Add d class named "selected" to the first Alphabet
                    $(".content-container").scrollTo($("#content-for-d"), 800); //This is for scrolling to particular element that is "D" here...
                    $(".content-container div").css({ 'background-color': '#ffffff' }); //set the background color to default, that is white
                    $(".content-container #content-for-d").css({ 'background-color': '#d2f2ff' }); //set the background color to light-blue to that div
                });
            });

        </script>
                   
    </div>
                
</div>
