<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="LockOutMinutes" value="30"/>
  <add key="ReportPageSize" value="10"/>
  <add key="LogFilePath" value="C:\SSI Publish\WindowsLog\"/>
  <add key="NoOfRecordsForAdjudicate" value="250"/>
  <add key="AdjudicationUsingWindowsService" value="true"/>
  <add key="IsVarianceCalculate" value="true" />
  <add key ="ServiceLineCodesPageSize" value="500"/>
  <add key="IsMicrodynEnabled" value="false"/>
  <add key="IsMicrodynLogEnabled" value="true"/>
  <add key="InsertContractLogs" value="false"/>
  <add key="IsDMEntry" value="false"/>
  <add key="BackgroundUserNameForScheduleJob" value="BackgroundServiceUser"/>
  <add key="EventSource" value="CMS"/>
  <add key="JobInterval" value="5000"/>
  <add key="IsLogEvent" value="false"/>
  <add key="ThreadCount" value="4"/>
</appSettings>

