@using SSI.ContractManagement.Shared.Helpers
@model SSI.ContractManagement.Web.Areas.UserManagement.Models.UserViewModel


<script src="~/Areas/UserManagement/JavaScript/SecurityQuestionsAndPassword.js"></script>

<div class="lbl-user">
    <b><span id="lbl-change"> Set Security Questions & Password:</span> <span id="spanEmail"></span> </b>
</div>
<div id="div-security-para" class="lbl-paragraph">
    <br />Our records show that you currently do not have security questions associated with your
    account. Security questions and answers are a<br /> method of authentication which seeks to
    prove the identity of someone accessing their online account. If you forget your username
    and <br />password you will be asked to provide<b id="lbl-last-line"> an answer to two of your security questions</b>.<br /><br />
</div>
<!-- For sending security question informationion-->
<div id="importSecurityQuestionform">
    <div id="change-password-container">
        <div>
            <label>First Question<span class="cms-required-fields">*</span>:</label>
            <input id="ddl-first-question" class="inputchangecontainer" />
        </div>
        <div>
            <label>Answer<span class="cms-required-fields">*</span>:</label>
            <input id="ddl-answer-one" class="k-textbox inputchangecontainers" maxlength="50" />
        </div>
        <div>
            <label>Second Question<span class="cms-required-fields">*</span>:</label>
            <input id="ddl-second-question" class="inputchangecontainer" />
        </div>
        <div>
            <label>Answer<span class="cms-required-fields">*</span>:</label>
            <input id="ddl-answer-two" class="k-textbox inputchangecontainers" maxlength="50" />
        </div>
        <div>
            <label>Third Question<span class="cms-required-fields">*</span>:</label>
            <input id="ddl-third-question" class="inputchangecontainer" />
        </div>
        <div>
            <label>Answer<span class="cms-required-fields">*</span>:</label>
            <input id="ddl-answer-three" class="k-textbox inputchangecontainers" maxlength="50" />
            <input type="text" id="txt-hidden-username" />
        </div>
        <div class="user-password">
            <label>New Password<span class="cms-requiredfields">*</span>:</label>
            <input id="newPassword" name="newPassword" class="k-textbox" type="password" maxlength="16" autocomplete="off" />
        </div>
        <div>
            <label>Confirm Password<span class="cms-requiredfields">*</span>:</label>
            <input id="confirmPassword" name="conPassword" class="k-textbox" type="password" maxlength="16" autocomplete="off" />
        </div>
    </div>
    <div class="lbl-valid-message">
        <p class="paragraph-length" id="paragraph-length"></p><span class="cross" id="cross-length">&#10007; </span><span class="tick" id="tick-length"></span>
        <p class="paragraph-one" id="paragraph-one"></p><span class="cross" id="cross-one">&#10007; </span><span class="tick" id="tick-one"></span>
        <p class="paragraph-two" id="paragraph-two"></p><span class="cross" id="cross-two">&#10007;</span><span class="tick" id="tick-two"></span>
        <p class="paragraph-three" id="paragraph-three"></p><span class="cross" id="cross-three">&#10007;</span><span class="tick" id="tick-three"></span>
        <p class="paragraph-four" id="paragraph-four"></p><span class="cross" id="cross-four">&#10007;</span><span class="tick" id="tick-four"></span>
        <p class="paragraph-five" id="paragraph-five"></p><span class="cross" id="cross-five">&#10007;</span><span class="tick" id="tick-five"></span>
        <p class="paragraph-six" id="paragraph-six"></p><span class="cross" id="cross-six">&#10007;</span><span class="tick" id="tick-six"></span>
    </div>
    <div class="btn-user-save-close">
        <input type="submit" id="btn-user-save" name="Submit" class="k-button" value="Save" />
        <input type="submit" id="btn-user-cancel" name="Submit" class="k-button" value="Cancel" />
    </div>
    <div class="lbl-contact">
        If you require assistance, please contact your local SSI administrator
    </div>
</div>

<script type="text/javascript">
    $(".paragraph-length").html(paragraphLength + "<br/>");
    $(".paragraph-one").html(paragraphOne + "<br/>");
    $(".paragraph-two").html(paragraphTwo + "<br/>");
    $(".paragraph-three").html(paragraphThree + "<br/>");
    $(".paragraph-four").html(paragraphFour + "<br/>");
    $(".paragraph-five").html(paragraphFive + "<br/>");
    $(".paragraph-six").html(paragraphSix + "<br/>");
    $("#spanEmail").html(email);
</script>


